<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="layout :: html-head" th:with="title='Home'"></head>
<body>
<nav th:replace="layout :: html-nav"></nav>
<div class="container">
    <div class="page-header">
        <h1>Monitor<br/>
            <small>The system based on pass one pass all mentality</small>
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <p class="lead">Register to experience all features</p>
        </div>
    </div>
</div><!-- /.container -->
<div th:replace="layout :: html-scripts"></div>
</body>
</html>
