<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head th:fragment="html-head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title th:text="${title}">Home</title>
    <link rel="icon" href="favicon.ico" title="X" type="image/x-icon"/>

    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="/fonts/css/font-awesome.min.css" th:href="@{/fonts/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="html-nav" class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" th:href="@{/}">Monitor</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:each="nav : ${navs}" th:class="|${nav.cssClass}|">
                    <a th:href="|${nav.href}|"><span th:class="|${nav.icon}|"></span> <span
                            th:text="|${nav.name}|"></span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" sec:authorize="isAnonymous()"
                    th:class="${showRegister} != null ? 'dropdown open' : dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <span
                            class="fa fa-user-plus"></span></a>
                    <ul class="dropdown-menu dropdown-lr" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center"><h3><b>Register</b></h3></div>
                            <form id="register-form" action="#" th:action="@{/register}" th:object="${userForm}"
                                  method="post" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                           class="validation-message"></label>
                                    <input type="text" name="name" id="name" tabindex="1" class="form-control"
                                           placeholder="Name" value="" th:field="*{name}"/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                           class="validation-message"></label>
                                    <input type="text" name="surname" id="surname" tabindex="2" class="form-control"
                                           placeholder="Surname" value="" th:field="*{surname}"/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                           class="validation-message"></label>
                                    <input type="email" name="email" id="register-email" tabindex="3"
                                           class="form-control" placeholder="Email Address" value=""
                                           th:field="*{email}"/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                           class="validation-message"></label>
                                    <input type="password" name="password" id="register-password" tabindex="4"
                                           class="form-control" placeholder="Password" th:field="*{password}"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit"
                                                   tabindex="6" class="form-control btn btn-primary"
                                                   value="Register Now"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>
                <li sec:authorize="isAnonymous()" class="dropdown" th:if="${showForgotPassword} == null"
                    th:class="${showLogin} != null ? 'dropdown open' : dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log In <span
                            class="fa fa-user"></span></a>
                    <ul class="dropdown-menu dropdown-lr" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center"><h3><b>Log In</b></h3></div>
                            <form id="login-form" action="#" th:action="@{/login}" method="post" role="form"
                                  autocomplete="off">
                                <div align="center" th:if="${param.error}">
                                    <p>Email or Password invalid, please verify</p>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control"
                                           placeholder="Email Address" value="" autocomplete="off"/>
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" tabindex="2"
                                           class="form-control" placeholder="Password" autocomplete="off"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <input type="checkbox" tabindex="3" name="remember" id="remember"/>
                                            <label for="remember"> Remember Me</label>
                                        </div>
                                        <div class="col-xs-5 pull-right">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                   class="form-control btn btn-primary" value="Log In"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" th:href="|/forgot_password|" tabindex="5"
                                                   class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>
                <li sec:authorize="isAnonymous()" class="dropdown" th:if="${showForgotPassword} != null"
                    th:class="'dropdown open'">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forgot Password <span
                            class="fa fa-key"></span></a>
                    <ul class="dropdown-menu dropdown-lr" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center"><h3><b>Reset Password</b></h3></div>
                            <form id="password-form" action="#" th:action="@{/forgot_password}" th:object="${userForm}"
                                  method="post" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                           class="validation-message"></label>
                                    <input type="text" name="name" id="password-name" tabindex="1"
                                           class="form-control" placeholder="Name" value="" th:field="*{name}"/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                           class="validation-message"></label>
                                    <input type="text" name="surname" id="password-surname" tabindex="2"
                                           class="form-control" placeholder="Surname" value="" th:field="*{surname}"/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                           class="validation-message"></label>
                                    <input type="email" name="email" id="password-email" tabindex="3"
                                           class="form-control" placeholder="Email Address" value=""
                                           th:field="*{email}"/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                           class="validation-message"></label>
                                    <input type="password" name="password" id="password-password"
                                           tabindex="4" class="form-control" placeholder="Password"
                                           th:field="*{password}"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <input type="submit" name="password-submit" id="password-submit"
                                                   tabindex="5" class="form-control btn btn-primary"
                                                   value="Reset Password"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="#" th:href="|/login|" tabindex="6">Already have account?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </ul>
                </li>
                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a href="#" th:href="|/logout|" class="dropdown-toggle">Logout <span class="fa fa-power-off"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div th:fragment="html-scripts">
    <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>
